body {
  background-color: #1a3c40;
  color: #fffdf7;
}

#mainpage {
  margin: 0 auto 0 auto;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 753px;
}

.contentTitle {
  width: 700px;
  height: 44px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 25px;
  background-repeat: no-repeat;
}

.contentTitle h1 {
  margin-left: 21px;
  padding-top: 8px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -1px;
}

.contentText {
  width: 680px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 13px;
  line-height: 30px;
}
